
@{
    ViewBag.Title = "Create";
}

	<div class="container" id="page-wrap">
		@Html.AntiForgeryToken()
		<div>
			<h1>Opret et nyt referat</h1>
			<br />
			<form method="post" action="/Summary/CreateNew">
				<div class="form-group col-md-10">
					<h4><label for="taskTitle">Titel:</label></h4>

					<input type="text" spellcheck="true" class="form-control" name="taskTitle" required />
				</div>

				<div class="form-group col-md-10">
					<h4><label for="taskDescription">Beskrivelse:</label></h4>

					<textarea typeof="text" height="150px" spellcheck="true" lang="da" class="form-control-new" name="taskDescription" required></textarea>

				</div>

				<div class="form-group col-md-10">
					<h4><label for="taskAuthor">Ansvarlig:</label></h4>

					<select name="taskAuthor" class="form-control" typeof="text" required>
						@foreach (var member in ViewBag.member)
						{
							<option>@member.UserName</option>
						}
					</select>

				</div>

				<div class="form-group col-md-10">
					<input type="submit" class="btn btn-block" value="Gem referat" />
				</div>
			</form>
			<form action="/Summary/Cancel">
				<div class="form-group col-md-10">
					<input type="submit" class="btn btn-block-1" value="Annuller" />
				</div>
			</form>
		</div>
	</div>


