@model List<TaskList.Models.Table>
@{
	ViewBag.Title = "Summary";
}

@*@if (Request.IsAuthenticated)
{
	*@
	<body>
		<div class="container" id="page-wrap">
			<div>
				<h1>Referater</h1>
				<br /><br />

				@{ foreach (TaskList.Models.Table summary in ViewData.Model)
					{
						<div>
							<br />
							<h4>@summary.EntryDate.ToShortDateString()</h4>
							<h4>@summary.Title.ToString()</h4>
							<h5>@summary.Description.ToString()</h5>
							<h5>@summary.Author.ToString()</h5>
						</div>
					}
				}
			</div>
			<br /><br />
			<div class="form-group">
				<div class="col-md-10">
					<a class="btn btn-primary" href="/Summary/Create"> <h4>Opret nyt referat</h4></a>
				</div>
			</div>
		</div>
	</body>@*
	}
	else
	{
		<h1>Venligst log ind <a href="/Account/Login/"> her</a></h1>
		Html.ActionLink("Login", "Account", "Home");
	}*@